  
<html>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script>

    let socket =new WebSocket('ws://localhost:8000/ws/polData/');
    socket.onopen =function(e){
        console.log('Connection established');
    };

    socket.onmessage = function(e){
        console.log(e.data);
        var recData=JSON.parse(e.data);
        dataObjNew=dataObj['data']['datasets'][0]['data'];
        dataObjNew.shift();
        dataObjNew.push(recData.value[0]);
        dataObj['data']['datasets'][0]['data']=dataObjNew;

        dataObjNew=dataObj['data']['datasets'][1]['data'];
        dataObjNew.shift();
        dataObjNew.push(recData.value[1]);
        dataObj['data']['datasets'][1]['data']=dataObjNew;

        dataObjNew=dataObj['data']['datasets'][2]['data'];
        dataObjNew.shift();
        dataObjNew.push(recData.value[2]);
        dataObj['data']['datasets'][2]['data']=dataObjNew;

        dataObjNew=dataObj['data']['datasets'][3]['data'];
        dataObjNew.shift();
        dataObjNew.push(recData.value[3]);
        dataObj['data']['datasets'][3]['data']=dataObjNew;
        window.myLine.update();

    };

    socket.onclose = function(e){
        alert('Connection CLosed');
    };
    
    </script>
    <style>
        body{
            display:flex; flex-direction:column; justify-content:center;
            min-height:100vh;           
        }
    </style>
<body>
    <center>
    <div>
        <h1>Live Data Plot</h1>
    </div>
    <div style="max-width: 900px; max-height: 400px;">
        <canvas id="myChart" width="900" height="400"></canvas>
    </div>
    </center>
</body>
    
    <script>
    var label = Array(30)
    for(var i=0; i<30; i++){
        label[i] = i+1;
    }
    var dataObj={
        type: 'line',
        data: {
            labels: label,
            datasets: [{
                label: 'c3 data',
                data: Array(30).fill(1),
                borderColor:"red"
            },
            {
                label: 'c4 data',
                data: Array(30).fill(2),
                borderColor:"blue"
            },
            {
                label: 'c5 data',
                data: Array(30).fill(5),
                borderColor:"green"
            },
            {
                label: 'c6data',
                data: Array(30).fill(7),
                borderColor:"yellow"
            },
        ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    }
    var ctx = document.getElementById('myChart').getContext('2d');
    window.myLine = new Chart(ctx,dataObj );
    </script>
</html>